# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# .NET
bin/
obj/
*.dll
*.exe
*.pdb

# Node / JS
node_modules/
dist/
build/
.env
.env.local

# IDEs
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Uploads & Captures
**/wwwroot/anpr-captures/*
!**/wwwroot/anpr-captures/.gitkeep

# OS Files
.DS_Store
Thumbs.db
